#imagen{
    height: 100px;
    width: 100px;
}

#buttonDelete{
    width: 1.3em;
    height: 1.3em;
    line-height: 1em;
    border-radius: 1.6em;
    font-size: 1.3em;
    // font-weight: bold;
    text-align: center;
    background: #43ace3;  
    color: #fff;
    
}


